<nav class="navbar navbar-dark bg-dark mb-5">
  <a href="/" class="navbar-brand">Dope Dope</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a href="" class="nav-item nav-link" active>Home</a>
      <a href="tasks" class="nav-item nav-link" active>Tasks</a>
      <a href="#" class="nav-item nav-link" active>Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a href="https://github.com/jondandois" class="nav-item nav-link" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="http://twitter.com/jondandois" class="nav-item nav-link" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>