<p>
  Welcome to the landing page
</p>
<a role="button" class="btn btn-primary" href="tasks">Tasks</a>
<h4>Todos</h4>
<ul class="list-group">
  <li class="list-group-item done">Task Service as shared</li>
  <li class="list-group-item done">Roadmap: landing</li>
  <li class="list-group-item done">Roadmap: date X axis</li>
  <li class="list-group-item">Roadmap: unordered task bars - length date</li>
  <li class="list-group-item">Roadmap: vertical order/group task by domain</li>
  <li class="list-group-item">Roadmap: vertical order/group task by asignee</li>
  <li class="list-group-item">Roadmap: switch vertical order/group</li>
  <li class="list-group-item">Tasks: add new tasks</li>
</ul>